/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Calibri', 'Arial', sans-serif;
    overflow: hidden;
  }
  
  /* Page styles */
  .page {
    font-family: 'Calibri', 'Arial', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/vista.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  /* Main container styles */
  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
  }
  
  /* Icon container styles */
  .icon-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
  }
  
  /* Footer styles */
  .footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px;
    color: #fff;
    z-index: 100;
    background-color: rgb(22, 23, 25);
    background: linear-gradient(0deg, rgba(22, 23, 25, 1) 35%, rgba(159, 160, 159, 1) 65%);
    opacity: 0.8;
  }
  
  /* Time styles */
  .time {
    margin-left: auto;
  }
  
  /* Icon styles */
  .icon {
    width: 10%;
    cursor: pointer;
  }
  
  /* Link styles */
  .link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font: inherit; /* Ensures the font matches the surrounding text */
    padding: 0; /* Removes default padding */
  }

  /* Button styles */
  .resume-button {
    /* background-color: rgba(116, 159, 144, 0.202); */
    background-color: #7177758b;
    padding: 10px 20px;
    border: 1px solid rgba(113, 119, 117, 0.546);
    border-radius: 5px;
    /* cursor: pointer; */
    font-size: 16px;
    display: block;
    margin: 0 auto; 
    /* color: white; */
    color: rgba(202, 212, 209, 0.546)
  }

  /* .resume-button:hover {
    background-color: rgba(173, 238, 215, 0.202);
  } */


  @media (max-width: 1200px) {
    .icon {
      width: 8%;
    }
  }
  
  @media (max-width: 992px) {
    .icon {
      width: 10%;
    }
  }
  
  @media (max-width: 768px) {
    .icon {
      width: 12%;
    }
  }
  
  @media (max-width: 576px) {
    .icon {
      width: 30%;
    }
  }


    