/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  /* Page styles */
  .page {
    font-family: -apple-system, Roboto, sans-serif, serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/vista.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  
  /* Main container styles */
  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
  }
  
  /* Icon container styles */
  .icon-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
  }
  
  /* Footer styles */
  .footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 15px;
    color: #fff;
    z-index: 100;
    background-color: rgb(22, 23, 25);
    background: linear-gradient(0deg, rgba(22, 23, 25, 1) 35%, rgba(159, 160, 159, 1) 65%);
    opacity: 0.8;
  }
  
  /* Time styles */
  .time {
    margin-left: auto;
  }
  
  /* Icon styles */
  .icon {
    width: 10%;
    cursor: pointer;
  }
  
  /* Link styles */
  .link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font: inherit; /* Ensures the font matches the surrounding text */
    padding: 0; /* Removes default padding */
  }


  @media (max-width: 1200px) {
    .icon {
      width: 8%;
    }
  }
  
  @media (max-width: 992px) {
    .icon {
      width: 10%;
    }
  }
  
  @media (max-width: 768px) {
    .icon {
      width: 12%;
    }
  }
  
  @media (max-width: 576px) {
    .icon {
      width: 30%;
    }
  }


    