.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
  }
  @media (max-width: 640px){
    .window {
      width: 400px;
    }
  }
  .strips {
    background: repeating-linear-gradient(
      45deg,
      transparent -70px,
      transparent 0px,
      rgba(255, 255, 255, 0.05) 5px,
      rgba(255, 255, 255, 0.1) 117px
    );
  }
  .window-header {
    padding: 0.6rem;
  }
  .window-header p {
    color: white;
    text-shadow: 0 0 1px white;
  }
  .window-body-wrapper {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
  .window-body {
    background: rgba(108, 152, 142, 0.581);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .window-header .buttons {
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .button {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  .button:hover {
    background: linear-gradient(
      rgba(255, 255, 255, 0.6) 6px,
      rgba(0, 0, 0, 0.3) 15px,
      rgba(255, 255, 255, 0.6) 27px
    );
  }
  .window-header .buttons .button.close {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background: rgba(255, 0, 0, 0.7);
    opacity: 75%;
}
.window-header .buttons .button.close:hover {
    opacity: 100%;
}

  .window-text {
    padding: 0.5rem;
    color: black;
  }